*
{
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px #2a2a2b;
    text-decoration: none; 
}
body
{
    background:linear-gradient(#145,lightblue);
    min-height: 200vh;
}

hr
{
    border: 0;
}
img
{
    width: inherit;
    border-radius: 12px;
}

.header1
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 12;
}

#name
{
    top: 2%;
    font-size: 3.2rem;
}

#searcharea
{
    top: 15px;
    left: 15%;
}

#searchbox
{
    width: 60%;
    height: 100%;
    padding: 0.5%;
    background-color: #fff;
    border-radius: 15px/15px;
}

#profilearea
{
    top: 15px;
    left: 77%;
    font-size: 2rem;
}

#notificationarea
{
    top: 15px;
    left: 85%;
    font-size: 2rem;
}

#block
{

    width: inherit;
    display: inline-block; /* Adjusts to content width */
    background:linear-gradient(90deg,#145,#2a2a2b);/* Background color */
    box-shadow: 2px 2px #2a2a2b;
    padding: 10px; /* Space around text */
    border-radius: 5px; /* Optional rounded corners */
   
}

#sidenav
{
    margin-top: 100px;
}

#sidenav a:hover
{
    background-color: lightcoral;
    border-radius: 3px 3px;
}

#side1
{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 1.5rem;
}


#side2
{
    padding-top: 10px;
    padding-left: 30px;
    font-size: 15px;
}

#feed
{   position: absolute;
    top: 100px;
    left: 200px;
    width: 1250px;
    height: 800px;
    word-wrap: break-word;
}

#feed1
{   position: absolute;
    top: 100px;
    left: 77%;
    width: 400px;
    height: 800px;
    word-wrap: break-word;
}

#feed2
{   position: absolute;
    top: 400px;
    left: 77%;
    width: 400px;
    height: 800px;
    word-wrap: break-word;
}

#profilepic
{
    display: inline-flex;
    width: 40px;
    height: 40px;
    border-radius: 80%;
}

button
{
    border-radius: 90%;
    background-image: url("vecteezy_neumorphic-up-arrow-icon-neumorphism-ui-button_11893951.png");
    background-size: cover;
    border: 0;
    width: 50px;
    height: 50px;
}
