*
{
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px #2a2a2b;
    text-decoration: none; 
}
body
{
    background:linear-gradient(coral,lightblue);
    min-height: 200vh;
}

.header1
{
    position: absolute;
    top: 1%;
    width: 100%;
    z-index: 12;
}

#name
{
    top: 2%;
    font-size: 3.2rem;
}

#searcharea
{
    top: 15px;
    left: 15%;
}

#searchbox
{
    width: 60%;
    height: 100%;
    padding: 0.5%;
    background-color: #fff;
    border-radius: 15px/15px;
}

#profilearea
{
    top: 15px;
    left: 77%;
    font-size: 2rem;
}

#notificationarea
{
    top: 15px;
    left: 85%;
    font-size: 2rem;
}

#block
{
    background: lightblue;
    opacity: 0.7;
    max-width: fit-content;
    min-height: fit-content;
    border-radius: 12px 12px;
    z-index: 10;
}

#sidenav
{
    margin-top: 100px;
}

#sidenav a:hover
{
    background-color: lightcoral;
    border-radius: 3px 3px;
}

#side1
{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 1.5rem;
}


#side2
{
    padding-top: 10px;
    padding-left: 30px;
    font-size: 15px;
}

#column1
{
    position: absolute;
    top: 15%;
    left: 10%;
}

#postboxpos
{   position: absolute;
    top: 45px;
    left: 10px;
    z-index: 5;
    margin-top: 100px;
    margin-left: 11%;
    padding-left: 5px;
}

#postboxpos textarea
{
    border-radius: 12px;
    width: 1100px;
    height:100px;
}

#columnpost1
{
    position: absolute;
    top: 280px;
    margin-left: 11%;
    padding: 2px 0px 10px 15px;
    width: 55%;
    color: #fff;
    opacity: 0.8;
    border-radius: 15px 15px;
}   
#columnpost2
{
    position: absolute;
    top: 880px;
    margin-left: 11%;
    padding: 2px 0px 10px 15px;
    width: 55%;
    min-width:1120px;
    max-width: 1%;
    background-color: #7d818c;
    color: #fff;
    opacity: 0.8;
    border-radius: 15px 15px;
    text-shadow: 2px 2px #2a2a2b;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}   
.post img
{
    border-radius: 12px 12px;
    margin-left: 20px;
    width: 80%;
}

#feed
{
    position: absolute;
    left: 1150px;
    top: 0px;
    background-color: #7d818c;
    color: #fff;
    opacity: 0.8;
    width: 500px;
    height: 250px;
    border-radius: 15px 15px;
    margin-top: 100px;
    margin-left: 225px;
    padding-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px #2a2a2b;
    font-size: 1.4rem;
}
